<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">

    
    <link rel="stylesheet" href="/static/css/footer.css">

	
	<link rel="stylesheet" href="/static/css/view.css">

	
	<link rel="stylesheet" href="/static/css/font.css">
	

	
	<link href="/static/css/jquery-nice-number.css" rel="stylesheet">


	  <!-- ALL JS FILES -->
    <script src="./static/js/jquery-3.2.1.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/bootstrap-select.js"></script>
    <script src="./static/js/inewsticker.js"></script>
    <script src="./static/js/bootsnav.js"></script>
    <script src="./static/js/images-loded.min.js"></script>
    <script src="./static/js/isotope.min.js"></script>
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/form-validator.min.js"></script>
    <script src="./static/js/contact-form-script.js"></script>
	<script src="./static/js/Login.js"></script>
	<script src="./static/js/signup.js"></script>
    <script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	
	<script>
		$(function() {
			$('#button3').click( function() {
				
				if( $(this).html() == '<i class="fas fa-chevron-down"></i>' ) {
					$(this).html('<i class="fas fa-chevron-up"></i>');
					$('.e').slideDown();
				}
				else {
					$(this).html('<i class="fas fa-chevron-down"></i>');
					$('.e').slideUp();
				}
				});
		});
	
	</script>
	<script>
		$(function() {
			$('#button4').click( function() {
				if( $(this).html() == '<i class="fas fa-chevron-down"></i>' ) {
					$(this).html('<i class="fas fa-chevron-up"></i>');
					$('.f').slideDown();
				}
				else {
					$(this).html('<i class="fas fa-chevron-down"></i>');
					$('.f').slideUp();
				}
				});
		});
	
	</script>
	<style>
		.f { display: none; max-height:100%; max-width:100%;margin:auto;text-align:center;}
		.e { display: none; max-height:100%; max-width:100%;margin:auto;text-align:center; }
	</style>
</head>

<body>
    {% include "nav_bar.html" %} <!-- 네비케이션바 -->
    
	<div style="width:100%;height:400px;background-color:black;">
		<div class="back_img">
			<p class="focus-in-expand-fwd" style="padding-top:120px;">My Page</p>
			<p class="focus-in-expand-fwd2">회원 정보를 확인해보세요</p>
		</div>
	</div>
	
	
	<div class="box-add-products">
	
		
        <div class="col-lg-12">
            <div class="title-all text-center">
				<h1>My page</h1>
                <p>{{detail[0][4]}}님 환영합니다.</p>
            </div>
        </div>
      
	
	
	
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">	
					<img style="width:200px;float:right" src="./static/images/profile.jpg" alt="" />
				</div>
				{% for info in user_info %}
				<div class="col-lg-6 col-md-6 col-sm-12" >
					<strong style="font-size:15px;">
						이름 : {{info[4]}}<br>
						아이디 : {{info[2]}}<br>
						이메일 : {{info[6]}}<br>
						전화 번호 : {{info[5]}}<br>

					</strong>
						<br>

                        포인트 : {{detail[0][7]}} point
                        <br><input type="number" id="pay" placeholder="충전금액"></input>
                        <button id = "check_module3">충전</button>
				{% endfor %}
                        <script>
        $("#check_module3").click(function() {
			IMP.init('imp94991652');
            var point =  document.getElementById("pay").value;
			IMP.request_pay({
				pg : 'kakaopay',
			
				pay_method : 'card',

				merchant_uid : 'merchant_' + new Date().getTime(),
		
				name : '충전',
				amount : document.getElementById("pay").value
			}, function(rsp) {
				console.log(rsp);
				if (rsp.success) {
					var msg = '포인트 충전이 완료되었습니다!';
                    alert(msg);    
                    $.ajax({ 
                        url:'/test4',
                        data:{'point' : point  
                            },
                        method:'POST', 
                        dataType:'json',
                        success:function(result){
                            alert("성공"); 
                        },error:function(err){console.log("err",err)}
                    });
                    
				} else {
					var msg = '결제에 실패하였습니다.';
					msg += '에러내용 : ' + rsp.error_msg;
                    alert(msg);
                    
               
				}
				
			});
    
		});
                        </script>
                     </div>
	

</div>	

	<h2 style="font-size:25px; font-weight:800;margin-top:40px; text-align:center;">구매 목록</h2>
	
	<div style="margin-top:50px;text-align:center;margin-bottom:100px;">
		<button id='button3' style="border-radius:50%;border:1px solid lightgrey;background-color:white;"><i class="fas fa-chevron-down"></i></button>
		<div class="e">
			{% set count= 0 %}
			{% for list in buy_list %}
				{% set count = count +1  %}
				<table style="border-top:3px solid black;margin:auto;background-color:white;">
					<thead>
						<tr>
							
							<th style="width:120px">판매자</th>
							<th style="width:120px;">수량</th>
							<th style="width:200px;">결제 금액</th>
							<th style="width:200px;">배송 상태</th>
							<th style="width:200px;">송장 번호</th>
							<th style="width:400px;">주소</th>
							<th style="width:200px;">구매 품종 번호</th>
						</tr>
					</thead>
				
                    <tbody>
                    <tr style="border-top:1px solid lightgrey;">

						
						<td style="width:120px">{{list[2]}}</td>
						<td style="width:120px">{{list[3]}}</td>
						<td style="width:200px">{{list[4]}}원</td>
						<td style="width:200px">{{list[5]}}</td>                   
						<td style="width:200px">{{list[6]}}</td>
						<td style="width:400px">{{list[7]}}</td>
						<td style="width:200px">{{list[8]}}</td>
						<br>
					</tr>
					{% set count = count +1  %}
			{% endfor %}
                    </tbody >
				</table>
		</div>
	</div>

	<h2 style="font-size:25px; font-weight:800;margin-top:40px; text-align:center;">판매 목록</h2>
	
	<div style="margin-top:50px;text-align:center;margin-bottom:100px;">
		<button id='button4' style="border-radius:50%;border:1px solid lightgrey;background-color:white;"><i class="fas fa-chevron-down"></i></button>
		<div class="f">
			{% for list in sell_list %}
				<table style="border-top:3px solid black;margin:auto;background-color:white;width:1000px">
					<thead>
						<tr>
							<th style="width:200px">구매자</th>
							<th style="width:200px;">수량</th>
							<th style="width:200px;">가격</th>
							<th style="width:250px;">배송 상태</th>
							<th style="width:200px;">송장 번호</th>
							<th style="width:800px;">주소</th>
							<th style="width:400px;">구매 품종 번호</th>
							<th style="width:200px;">송장 번호 입력</th>
							<th></th>
						</tr>
					</thead>
				
                    <tbody>
                    <tr style="border-top:1px solid lightgrey;">
						<td style="width:200px">{{list[1]}}</td>
						<td style="width:200px">{{list[3]}}</td>
						<td style="width:200px">{{list[4]}}원</td>                   
						<td style="width:200px">{{list[5]}}</td>
						<td style="width:800px">{{list[6]}}</td>
						<td style="width:200px">{{list[7]}}</td>
						<td style="width:200px">{{list[8]}}</td>
						<td>
							<input type = "text" id = "invoNum" placeholder="송장번호입력"></input >
                        </td>
						<td style="width:400px;">
							<button id = "delivery" style="border:1px solid lightgrey;">배송하기</button>
						</td>
						<script>
                            $("#delivery").click(function() {
                                var number = $('#invoNum').val()
                                if(  $('#invoNum').val() != ""){
                                    //alert(number);
                                    //alert('{{sell_list[0][0]}}');
                                    var msg = '배송.';
                                    //alert(msg,);    
                                    $.ajax({ 
                                        url:'/test5',
                                        data:{'invoNum' : $('#invoNum').val() ,
                                              'pNum' : '{{sell_list[0][8]}}'
                                            },
                                        method:'POST', 
                                        dataType:'json',
                                        success:function(result){
                                            alert("송장번호를 입력하였습니다!"); 
                                        },error:function(err){console.log("err",err)}
                                        });
                                }
                                else{
                                 alert("송장번호를 입력해주세요.");
                                }
                                
                        
                            });
                            </script>
					</tr>
	
                        {% endfor %}
                     </tbody>
				</table>
		
		</div>
	</div>



			</div>
		</div>
	</div>
	
	

	{% include "footer.html" %}
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    
</body>

</html>